{% extends "products/../base.html" %}
{% block content %}
    <div class="card mt-3 text-center bg-white rounded-4 h-100 d-flex flex-column align-items-center"
         style="width: 18rem;">
        <div class="card-body ">
            <img style="width: 250px; " src="{{ product.image }}">
            <br><br><h5 class="card-subtitle mb-2 text-body-secondary"><strong>{{ product.title }}</strong></h5>
            <p class="card-text"><strong>{{ product.category.title }}</strong><br></p>
            <p class="card-text"><strong>Price:</strong><br>{{ product.price }}$</p>
            <p class="card-text"><strong>Remains:</strong><br>{{ product.remains }}$</p>
            <p class="card-text"><strong>Description:</strong><br>{{ product.description }}</p>
            <p class="card-text"><strong>Дата:</strong><br>{{ product.created_at }}</p>
            <a href="{% url 'update' product.pk %}">
                <i class="fa-2x fa-sharp fa-regular fa-pen-to-square"></i>
            </a>
            <a href="{% url 'delete' product.pk %}" class="fa-2x fa-solid fa-trash text-danger"></a>
        </div>
    </div>
{% endblock %}