{% extends "products/../base.html" %}

{% block title %}
    <title>Products Views</title>
{% endblock %}
<br>
<br>

{% block content %}
    <br>
    <form method="get">
        {% include "partial/search_form.html" with form=search_form %}
    </form>
    <br>
    <div class="row">
        {% for product in products %}
            <div class="class=col-12 col-md-6 col-lg-3 mb-3">
                <div class="card mt-3 text-center bg-white rounded-4 h-100 d-flex flex-column align-items-center "
                     style="width: 18rem;">
                    <div class="card-body ">
                        <img style="width: 200px;" src="{{ product.image }}">
                        <br><br><h5 class="card-subtitle mb-2 text-body-secondary"><strong>{{ product.title }}</strong>
                    </h5>
                        <p class="card-text"><strong>{{ product.category.title }}</strong><br></p>
                        <p class="card-text"><strong>Price: {{ product.price }}$</strong><br></p>
                        <a href="{% url 'delete' product.pk %}"><i class="fa-solid fa-trash text-danger fa-2xl"></i></a>
                        <a href="{% url 'detail' product.pk %}"><i class="fa-solid fa-circle-info fa-2xl"></i></a>
                        <form method="post" action="{% url 'basket_add' product.pk %}">
                            {% csrf_token %}
                            <br><button type="submit" class="btn btn-success">В корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block paginator %}

    <div class="paginator mt-4">
        {% if is_paginated %}
            {% include "partial/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}
</body>
</html>